name: Build

on:
  release:
      types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Android
    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: "./.yarn/cache"
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install Dependencies
        run: yarn install --check-cache

      - name: Build/Sync JS Bundles
        run: |
          yarn build
          yarn run capacitor sync

      - uses: actions/setup-java@v4
        with:
            distribution: "temurin"
            java-version: "11"

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      
      - name: Build debug APK
        run: |
          cd android/
          ./gradlew assembleDebug --stacktrace
          cd ../

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: app-dev-debug
          path: android/app/build/outputs/apk/debug/app-debug.apk

