name: Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
        - main
jobs:
  jest:
    name: Jest
    permissions:
      checks: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: "./.yarn/cache"
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install Dependencies
        run: yarn install --check-cache
      - name: Run Jest
        run: yarn run jest --ci --coverage --testLocationInResults
      # uses: ArtiomTr/jest-coverage-report-action@v2 # can be used as a substitute to codecov
      # with:
      #   skip-step: install
      #   test-script: yarn run jest --ci --coverage --testLocationInResults
      - uses: codecov/codecov-action@v3
        with:
          # token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          files: .coverage/lcov.info
          fail_ci_if_error: true

  cypress:
    runs-on: ubuntu-latest
    name: Cypress
    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: "./.yarn/cache"
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          install-command: yarn install --check-cache
          command: yarn run test:e2e --headless
        env:
          # pass the Dashboard record key as an environment variable
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  android:
    runs-on: ubuntu-latest
    name: Android
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: "./.yarn/cache"
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install Dependencies
        run: yarn install --check-cache

      - name: Build/Sync JS Bundles
        run: |
          yarn build
          yarn run capacitor sync

      - uses: actions/setup-java@v3
        with:
            distribution: "temurin"
            java-version: "11"
            cache: "gradle"

      - name: Run android tests
        run: |
          cd android/
          ./gradlew test --stacktrace

